<div *ngIf="device| async as dev" class="container">
    <h2>ID: {{dev.id}}</h2>
    <button mat-button (click)="locate(dev.id)">Locate</button>
    <!--    <mat-list>-->
    <!--        <mat-list-item *ngFor="let m of dev.measurements">-->
    <!--            {{m.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}-->
    <!--        </mat-list-item>-->
    <!--    </mat-list>-->
    {{dev.measurements.length}}
    <div *ngIf="dev.measurements">
        <app-stats [measurements]="dev.measurements"></app-stats>
        <app-map [measurements]="dev.measurements"></app-map>
    </div>
</div>

