<mat-toolbar>
    <span>My Application</span>
</mat-toolbar>
<mat-sidenav-container id="main-nav-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>

            <a [routerLink]="'/devices'" mat-list-item>Devices</a>
            <a [routerLink]="'/contacts'" mat-list-item> Contacts </a>
            <a [routerLink]="'/create-contact'" mat-list-item> Create Contact </a>
            <a [routerLink]="'/activities'" mat-list-item> Activities </a>
            <a [routerLink]="'/create-activity'" mat-list-item> Create Activity </a>
            <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" layout-fill>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>